@using Microsoft.AspNetCore.Identity
@model IEnumerable<DataModels.ViewModels.TicketListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p id="userId" data-userid="@ViewBag.userId" class="d-none"></p>
<h1>My tickets</h1>
<p>Tickets for projects I am working on</p>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class=" ticketListContainer">
    <table id="ticketsTable" class="table table-striped">
        <thead class="table-dark table-bordered">
            <tr>
                <th data-priority="1">Title</th>
                <th>Project</th>
                <th>Reported by</th>
                <th data-priority="2">Priority</th>
                <th>Status</th>
                <th>Type</th>
                <th>Created on</th>
                <th data-priority="3">Due date</th>
                <th>Assigned to</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts
{

    <script>
        $(document).ready(() => {
            let ticketTable;
            createTable();
        });
    </script>
    <script src="~/js/Tickets/Index/createTable.js"></script>
}