@model DataModels.ViewModels.MyDashboardViewModel

@{

}


<h4 class="m-4 text-center">Welcome @User.Identity.Name</h4>

<div class="row mb-5 dashboardRow">
    <div class="dashboardCard mb-1 col-lg-6" id="overviewDiv">
        <div class="cardHeader mb-2">
            My Tickets Overview&nbsp;<span class="text-info"><i class="fas fa-exclamation-circle"></i></span>
        </div>
            <div >
                <canvas id="doughnutChart"></canvas>
            </div>
    </div>
    <div class="dashboardCard mb-1 col-lg-6" id="myTicketsDiv">
        <div class="cardHeader mb-2">
            My Tickets&nbsp;<span class="text-success"><i class="fas fa-exclamation-circle"></i></span>
        </div>
        <div>
            <table id="myTicketsTable" class="table table-bordered table-striped no-footer">
                <thead class="table-dark">
                    <tr>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Due date</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="row dashboardRow">

    <div class="dashboardCard mb-4 col-lg-6" id="overviewDiv">
        <div class="cardHeader ">
            My Tickets Due Today&nbsp;<span class="text-warning"><i class="fas fa-exclamation-circle"></i></span>
        </div>
        <div >
            <table id="myTicketsTodayTable" class="table table-bordered table-striped no-footer">
                <thead class="table-dark">
                    <tr>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Due date</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="dashboardCard mb-1 col-lg-6" id="overviewDiv">
        <div class="cardHeader ">
            My Overdue Tickets&nbsp;<span class="text-danger"><i class="fas fa-exclamation-circle"></i></span>
        </div>
        <div>
            <table id="myOverdueTicketsTable" class="table table-bordered table-striped no-footer">
                <thead class="table-dark">
                    <tr>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Due date</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

