@model DataModels.ViewModels.HomeLoginViewModel

@{
}


<div class="row">
    <div class="w-50 m-auto">
        <form id="account" method="post" asp-action="LoginUser">
            <h4>Use a local account to Log in.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
            <div class="form-group">
                <a class="nav-link " asp-area="Identity" asp-page="/Account/Register">Register as a new user</a>
            </div>
        </form>
    </div>
</div>
<div class="d-flex justify-content-center ">
    <button id="loginAsDemoUser" class="btn btn-info">
        Login as Demo user
    </button>
</div>
