@model DataModels.ViewModels.MyDashboardViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>

    @if (!User.Identity.IsAuthenticated)
    {
        <div class="text-center">
            <partial name="_LoginFormPartial" />
        </div>
    }
    else
    {
        <div>
            <partial name="_DashboardPartial" />
        </div>
    }

</div>


@section scripts{

    <script>
        $(document).ready(() => {
            let model = @Html.Raw(Json.Serialize(Model));

            if (model != null) {
                let ticketStatuses = {
                    1: "Open",
                    2: "Closed",
                    3: "In progress",
                    4: "To be tested",
                    5: "Reopen"
                }
                let myTickets = model.myTickets;

                drawOverviewChart(myTickets);                
                drawAllMyTicketsTable(myTickets, ticketStatuses);

            }
        })

    </script>
    <script src="~/js/Home/Index/drawOverviewChart.js"></script>
    <script src="~/js/Home/Index/drawAllMyTicketsTable.js"></script>
}