@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    @if (!User.Identity.IsAuthenticated)
    {
     <partial name="_LoginFormPartial" />
    }
    else
    {
        <p>welcome @User.Identity.Name</p>
    }

</div>
