@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create project</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form id="projectForm">
            <div class="form-group">
                <label for="projectName" class="control-label">Project name:</label>
                <input class="form-control" id="projectName" autocomplete="off" />
            </div>
            <div class="form-group">
                <label for="description" class="control-label">Description:</label>
                <input class="form-control" id="description" autocomplete="off" />
            </div>
            <div class="form-group">
                <label for="selectUsers" class="control-label">Select Developers for this project:</label>
                <input type="text" class="form-control typeahead" name="selectUsers" id="selectUsers" value="" placeholder="Search developers..." autocomplete="off" />
            </div>
            <div class="form-group">
                <label for="projectStatuses">Project Status:</label>
                @Html.DropDownList("ProjectStatusId",
                new SelectList(ViewBag.projectStatuses, "Id", "StatusName", 1),
                null,
                   new
                   {
                       @class = "form-control",
                       id = "projectStatuses"
                   }
                )
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4 ml-4">
        <h6>
            Selected Developers:
        </h6>
        <ul id="selectedDevelopers">
        </ul>
    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        let selectedUserIds = [];

        $(document).ready(function () {

            typeAheadForCreateForm();

            // remove developer from list
            $("#selectedDevelopers").on("click", ".removeBtn", function () {

                let selectedUserId = event.target.getAttribute("data-id");
                let indexOfDataId = selectedUserIds.indexOf(selectedUserId);
                selectedUserIds.splice(indexOfDataId, 1);

                let removeBtn = $(event.target);
                removeBtn.parent("li").remove();
            })


            // submit form
            $("#projectForm").on("submit", function () {
                event.preventDefault(); //prevent form submit with reload
                submitCreateForm();
            })

        })
    </script>
    <script src="~/js/Projects/Create/typeAheadForCreateForm.js"></script>
    <script src="~/js/Projects/Create/submitCreateForm.js"></script>
}
